    /*  code yann  start  */
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');
    
    .header {
        height: 600px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background: linear-gradient(0deg, rgba(0, 10, 43, 0.10), rgba(0, 10, 43, 0.20)), url(header.jpg);
        
    }
    .top {
        height: 30px;
        background-color: white;
        opacity: 0.7;
        margin-top: 0;
        font-size: 1.5rem;
        font-weight: 500;
    }
    
    
    .title-header {
        display: block;
        font-size: 3.375rem;
        margin-top: 124px;
        margin-left: 55px;
        line-height: 63px;
        color: #FFFFFF;
        font-style: normal;   
        font-weight: 200;          
    }               
    .content-header {
        margin-left: 55px;
        margin-top: 30px;
        font-size: 0.9rem;
        font-style: italic;
        line-height: 33px;
        color: #FFFFFF;
        font-weight: 200;          

    }
    
    .button-header {
        background: #C79E45;
        margin-top: 36px;
        margin-left: 55px;
        color: #FFFFFF;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 18px;
        position: static;
        width: 233px;
        height: 60px;
        left: 0px;
        top: 244px;
        flex: none;
        order: 1;
    flex-grow: 0;
    border: none;

    }
    
    .button-header::after {
        content: url(arrow.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #FFFFFF;
        display: inline;
        margin-left: 50px;
        
    }
    
    .main3 {
        background: #000A2B;
    }
    
    .third-blog-y {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600px;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .content-blog3 {
        display: flex;
        height: 596px;
        align-items: center;
        z-index: 1;
        
                }              
                .blog3-content1 {
                    
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    position: static;
                    width: 326px;
                    height: 396px;
                    background: #FFFFFF;
                    border-radius: 8px;
                    margin-right: 40px;
                }
                
                .blog3-content2 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    position: static;
                    width: 326px;
                    height: 396px;
                    background: #FFFFFF;
                    border-radius: 8px;
                    margin-right: 40px;
                }
                
                .blog3-content3 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    position: static;
                    width: 326px;
                    height: 396px;
                    background: #FFFFFF;
                    border-radius: 8px;
                }
                
                .up-content {
                    display: flex;
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(blog3.jpg);
                    border-radius: 8px 8px 0px 0px;  
                    background-position: center;                  
                    background-repeat: no-repeat;
                    background-size: cover;
                    font-size: 1.75rem;
                    font-style: normal;
                    font-weight: bold;
                    line-height: 33px;
                    border-radius: 3px;
                    justify-content: center;
                    align-items: center;
                    height: 160px;
                    color: #FFFFFF;
                    width: 326px;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);
                }
                
                
                .see {
                    color: #C79E45;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    margin: 15px ;
                }
                a{
                    text-decoration: none;

                }
                
                .down-content {
                    font-size: 1rem;
                    font-weight: normal;
                    font-style: normal;
                    padding: 16px;
                    text-align: justify;
                    border-radius: 3px;
                    height: 168px;
                    width: 295px;
                    margin: 10px 0px;
                    color: #000000;
                }
                
               
                
                .circle-left {
                    position: absolute;
                    width: 200px;
                    height: 200px;
                    background: #C79E45;
                    border-bottom-right-radius: 400px;
                    opacity: 0.3;
                }
                
                .ri {
                    display: flex;
                    justify-content: flex-end;
                }
                
                .circle-right {
                    width: 200px;
                    height: 200px;
                    background: #C79E45;
                    border-top-left-radius: 400px;
                    opacity: 0.3;
                    margin-top: -200px;
                    position: absolute;
                    margin-right: 50px;
                    margin-left: 1100px;
                }
                
                @media screen and (max-width: 1270px) {

                    .third-blog-y {
                        height: auto;
                    }

                    .title-header {
                        text-align: center;
                        
                    }
                    .title-content-header {
                        text-align: center;
                       
                    }
                    .content-header {
                        text-align: center;
                        
                    }
                   
                    .third-blog-y {
                        display: block;
                    }
                    
                    .circle-left {
                        margin-top: -10px;
                        margin-left: -20px;
                    }
                    
                    .content-blog3 {
                        
                        display: flex;
                        overflow: auto;
                    }
                    .header{
                        height: auto;
                        padding-bottom: 20px;
                    }
                    .button-header{
                        margin-left: 40%;
                    }
                    .button-header::after {
                        visibility: hidden;
                        margin-left: 0px;
                    }

               
                }
                /*  code yann end  */
                /* code raphael start  */

                /* start-block-two */
.container{
    width:100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding-left: 0px;
    padding-right: 0px;
}

.block-two{
    display: flex;
    background-color: #E5E5E5;
    padding: 100px 30px;
}

body{
    margin: 0;
    font-family: roboto;
    background-color: #f2f2f2;
    padding: auto;
}
.left-block{
    display: flex;
}
#online{
    white-space: nowrap;
}
.about{
    margin-bottom: 45px;
    display: flex;
}
.under-right-block{
    margin-top: 35px;
}
.image-dg{
    border-radius: 8px;
    position: static;
    left: 0px;
    top: 0px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
    margin-top: 25px;
    
}
.info-title{
    font-size: 28px;
    font-style: normal;
font-weight: 400;
line-height: 33px;
letter-spacing: 0em;
text-align: left;
height: 99px;
left: 0px;
top: 0px;

}
.content-one{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    height: 288px;
    max-width: 642px;
    left: 0px;
    top: 123px;
    text-align: justify;
    text-justify: inter-word;
}
.title-about{
    flex: none;
    order: 0;
    flex-grow: 0;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: #C79E45;
margin-bottom: 18px;
margin-top: -60px;
margin-left: 30px;
}
.office,.shop-douala,.shop-yaounde,.shop-bamenda,.shop-garoua{
    height: 16px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
position: static;
max-width: 309px;
height: 16px;
top: 0px;
color: rgba(0, 0, 0, 0.87);
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 30px ;
margin-top: -15px;
margin-bottom: -5px;

}
.right-block{
    margin-left: 80px;
    margin-top: -40px;
}
.fleche-bas{
    visibility: hidden;
}
.office-content,.shop-douala-content,.shop-yaounde-content,.shop-bamenda-content,.office-garoua-content{
    position: static;
    max-width: 218px;
    font-style: italic;
    font-size: 14px;
line-height: 16px;
color: rgba(0, 0, 0, 0.87);
flex: none;
margin-left:30px ;
margin-bottom: 10px;
white-space: nowrap;
}
.more{
    visibility: hidden;
}

/* end-block-two */

/* start-block-six */


.left-image{
width: 75%;
transform: rotate(46deg);
margin-top: -500px;
margin-bottom: 100px;
height: 1890px;
position: relative;
margin-left: -320px;
overflow: hidden;
}
.left-image::before{
    content: "";
    position: absolute;
    z-index: -1;
    background: linear-gradient(0deg, rgba(0, 10, 43, 0.26), rgba(0, 10, 43, 0.26)), url(award1.jpg);
    transform: rotate(313deg);
    background-repeat: no-repeat;
    width: 150%;
    transform: rotate(313deg);
    margin-top: 210px;
    height: 500px;
    margin-left: -100px;
    background-size: cover;

}
.right-image{
    height: 1000px;
    width: 75%;
    transform: rotate(42deg);
    margin-top: -160px;
    margin-left: 350px;
    margin-bottom: 18px;
    position: relative;
    overflow: hidden;
}
.right-image::before{
    content: "";
    position: absolute;
    z-index: -1;
    background: linear-gradient(0deg, rgba(0, 10, 43, 0.26), rgba(0, 10, 43, 0.26)), url(recognition1.jpg);
    transform: rotate(313deg);
    background-repeat: no-repeat;
    width: 150%;
    transform: rotate(319deg);
    margin-top: 130px;
    height: 500px;
    margin-left: -300px;
    background-size: cover;
}
.block-six{
    display: flex;
    height: 400px;
    overflow: hidden;
    background-color: rgb(132, 131, 207);
}
.award,.award-content{
    transform: rotate(314deg);
    text-align: left;
}
.award{
    margin-top: 500px;
    margin-bottom: -100px;
    margin-left: 40px;
    padding: 14px;
    background: rgba(0, 0, 0, 0.36);
    color: white;
    width: 250px;
    height: fit-content;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
}
.award-content{
    margin-left: 100px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.36);
    width: 450px;
    height: fit-content;
    color: #FFFFFF;
}
.recognitions,.recognitions-content{
    transform: rotate(318deg);
    text-align: left;
    margin-top: 30px;
}
.recognitions{
    margin-top: 250px;
    width: 250px;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 50px;
color: #FFFFFF;
padding: 16px;
background: rgba(0, 0, 0, 0.36);
    margin-bottom: 55px;
    margin-left: 140px;
}
.recognitions-content{
    width: 450px;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: rgba(255, 255, 255, 0.87);
padding: 16px;
background: rgba(0, 0, 0, 0.36);
margin-left: 50px;
}
/* end-block-six */

/* strart-block-four */
.block-four{
    display: flex;
    background: #E5E5E5;
    padding: 50px 30px 40px 70px;
    height: 400px;
}
.title-difference{
font-style: normal;
font-weight: normal;
font-size: 46px;
line-height: 55px;
color: rgba(0, 0, 0, 0.87);
flex-grow: 1;
margin-top: -8px;
margin-left: -15px;
height: 200px;

}
.content-difference{
    height: 240px;  
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.87);
    flex-grow: 1;
    margin: 0px 24px;
    margin-left: 110px;
    text-align: justify;
    text-justify: inter-word;
}

/* end-block-four */

/* start-block-five */
.block-five{
    background: #F8F3E9;
margin-top: -17px;
display: flex;
flex-direction: row;
padding: 40px 60px 10px 40px;
height: 488px;
}
.under-item-one,.under-item-two,.under-item-three,.under-item-four{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.first-item,.second-item,.third-item{
    display: flex;
    flex-direction: column;
}
.trait-five,.trait-five1,.trait-five2,.trait-five3{
    border: 1px solid  rgba(0, 0, 0, 0.22);
    height: 95px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin-top: 30px;

}
.align-item-one,.align-item-two,.align-item-three,.align-item-four{
    display: flex;
}
.stat-one,.stat-two,.stat-three,.stat-four{
    max-width: 79px;
height: 84px;
left: 0px;
top: 12px;
font-weight: 200;
font-size: 72px;
line-height: 84px;
color: #C79E45;
flex: none;
order: 0;
flex-grow: 0;
margin: 10px 0px;
}
.stat-info,.stat-info1{
    position: static;
width: 114px;
height: 28px;
left: 0px;
top: 96px;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 28px;
color: rgba(0, 0, 0, 0.54);
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;
}

.icone-five,.icone-five1,.icone-five2,.icone-five3 {
    width: 60px;
    margin-top: 40px;
    margin-left: 30px;
}
.under-five-one,.under-five-two,.under-five-three,.under-five-four{
    display: flex;
}
.stat-two{
    color: #2C39AB;
}
.stat-three{
    color: #BA3926;
}
.stat-four{
    color:  #016523;
    ;
}
.icone-five1{
    margin-top: 50px;
}
.align-item-one,.align-item-three{
    margin-bottom: 50px;
}
.first-item{
    margin-right: 150px;
    margin-left: 10px;
}
.trait-five2,.trait-five3{
    margin-left: 50px;
    margin-right: 20px;
}
.trait-five,.trait-five1{
    margin-right: 20px;
}
.title-content-five{
    max-width: 391px;
height: 66px;
left: 130px;
top: 10px;
font-style: normal;
font-weight: normal;
font-size: 56px;
line-height: 66px;
color: rgba(0, 0, 0, 0.87);
flex: none;
order: 0;
flex-grow: 0;
white-space: nowrap;
}
.second-item{
    margin-right: 100px;
}
.content-item-five{
    max-width: 391px;
height: 120px;
left: 130px;
top: 112px;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
text-align: right;
color: rgba(0, 0, 0, 0.87);
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 36px 0px;
margin-left: -10px;
}


/* end-block-five */
/* responsive */



@media screen and (max-width:1289px) {
    .content-one{
        height: 400px;
    }
    .info-title{
        height: 150px;
    }
    
    .left-image{
        margin-left: -330px;
    }




.second-item,.third-item{
    margin-left: -70px;
}
.third-item{
    margin-left: 20px;
}

.trait-five3,.trait-five2,.trait-five1,.trait-five{
    margin-left: 20px;
    margin-right: -5px;
}


}
@media screen and (max-width:1270px) {
    .block-two{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left-block{
        display: flex;
        flex-direction: column;
     
    }
    .info-title{
        margin-top: -520px;
        justify-content: center;
        font-weight: 600;
        margin-left: 30px;
    }
    .content-one{
        margin-top: 450px;
        margin-bottom: 80px;
        width: fit-content;
    }
    .image-dg{
     width: 90%;
     height: 350px;
     margin-top: 225px;
     border-radius: 20px;
    }
   
    body{
        margin-right: 20px;
    }

.name{
    margin-top: -150px;
    margin-left: 30%;
}
.more{
    visibility: visible;
    margin-left: 25%;
    color: #C79E45;
    margin-top: 70px;  
 }
 .see-more{
    outline: none;
    cursor: pointer;
    margin-left: -50px;
    margin-top: -20px;
    margin-bottom: -160px;
    
 }
 .fleche-bas{
visibility: visible;
margin-bottom: 150px;
margin-left: 110px;
margin-top: -10px;
 }
 
  
  .active:after {
    transition: 0.3s;
  }
  .defil-item {
    padding:0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color:#E5E5E5 ;
    width: 120%;
    opacity: 0.1x;
    border-radius: 5px;
    border: none;
    margin-left: -20%;
    margin-top: 10px;
  }
 
  .block-four{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: fit-content;
  }
  .content-difference{
      margin-top: -100px;
      margin-left: 20px;
  }
  
  .block-five{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    
  }
  .under-five-one{
      margin-bottom: -30px;
  }
  .under-five-two{
      margin-bottom: 20px;
  }
  .under-five-four{
      margin-top: -30px;
  }
  .first-item,.second-item{
      margin-left: 10px;
  }
  .second-item{
      margin-left: -40px;
  }
  .third-item{
      margin-top: -850px;
      margin-bottom: 60px;
      margin-left: 10px;
    }
    .first-item{
        margin-top: 250px;

    }
    .title-content-five{
        margin: -25px;
    }
    .content-item-five{
        text-align: left;
        margin-left: -25px;
    }
    .block-six{
        display: flex;
        flex-direction: column;
        height: 1000px;
    }
    .recognitions-content,.award-content{
        width: 20rem;
    }
   
    .content-difference{
        margin-top: -180px;
    }
    
    .left-image{
        margin-top: 40px;
        height: 1500px;
        transform: rotate(16deg);
        margin-left: -50px;
        width: 2500px;
        margin-bottom: -75px;
    }
    .left-image::before{
        content: "";
    position: absolute;
    z-index: -1;
    background: linear-gradient(0deg, rgba(0, 10, 43, 0.26), rgba(0, 10, 43, 0.26)), url(award1.jpg);
    background-repeat: no-repeat;
    width: 100%;
    transform: rotate(347deg);
    margin-top: -50px;
    height: 800px;
    margin-left: -500px;
    background-size: cover;

    }
    .right-image{
        margin-left: 10px;
        height: 1500px;
        width: 2500px;
        margin-top: 35px;
        transform: rotate(16deg);
    }
    .award-content,.award{
        transform: rotate(344deg);
        margin-left: 130px;
        margin-top: 150px;
    }
    .award{
        margin-bottom: -160px;
        padding: 5px;
        font-size: 25px;
        width: 150px;
        margin-top: 160px;
        position: static;
    }
    
    .award-content{
        margin-left: 160px;
        height: fit-content;
        margin-bottom: 150px;
    }
    .recognitions-content,.recognitions{
        transform: rotate(344deg);
        margin-left: -100px;
     }
     .recognitions{
         margin-top: 110px ;
         margin-bottom: 50px;
         padding: 5px;
        font-size: 25px;
        width: 150px;
        margin-left: 290px;
    }
    .recognitions-content{
        margin-bottom: 140px;
        height: fit-content;
        margin-left: 150px;
 
    }
    .circle-left{
    width: 150px;
    height: 150px;
    margin-top: 0px;
    }
    .circle-right{
        width: 150px;
    height: 150px;
    margin-top: -150px;
    margin-left: 1100px;
    position: absolute;
    }

}


@media screen and (max-width:1109px) {
.block-four{
    height: 600px;
}
.content-difference{
    margin-top: -350px;
}
.defil-item{
    width: fit-content;
}

}
@media screen and (max-width:750px) {
   
   .recognitions-content,.award-content{
       width: 20rem;
   }
  .block-four{
      height: 800px;
  }
   .content-difference{
       margin-top: -180px;
   }
   .block-six{
       height: 950px;
       flex: none;
order: 6;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;
   }
   .left-image {
    margin-top: -50px;
    height: 1500px;
    transform: rotate(16deg);
    margin-left: -150px;
    width: 2000px;
    margin-bottom: -165px;
}
.left-image::before {
    content: "";
    position: absolute;
    z-index: -1;
    background: linear-gradient(0deg, rgba(0, 10, 43, 0.26), rgba(0, 10, 43, 0.26)), url(award1.jpg);
    background-repeat: no-repeat;
    width: 100%;
    transform: rotate(347deg);
    margin-top: -50px;
    height: 1000px;
    margin-left: -500px;
    background-size: cover;
}
   .right-image{
       margin-left: -110px;
       height: 1100px;
       width: 1500px;
       margin-top: 0px;
       transform: rotate(16deg);
       margin-bottom: -200px;
   }
   .right-image::before {
    content: "";
    position: absolute;
    z-index: -1;
    background: linear-gradient(0deg
, rgba(0, 10, 43, 0.26), rgba(0, 10, 43, 0.26)), url(recognition1.jpg);
    transform: rotate(313deg);
    background-repeat: no-repeat;
    width: 150%;
    transform: rotate(348deg);
    margin-top: -510px;
    height: 1150px;
    margin-left: -800px;
    background-size: cover;
}
   .award-content,.award{
       transform: rotate(344deg);
       margin-left: 130px;
       margin-top: 150px;
   }
   .award{
       margin-bottom: -160px;
       padding: 5px;
       font-size: 25px;
       width: 150px;
       margin-top: 260px;
       position: static;
   }
   .award-content{
       margin-left: 160px;
       height: fit-content;
       margin-bottom: 150px;
   }
   .recognitions-content,.recognitions{
       transform: rotate(344deg);
       margin-left: -100px;
    }
    .recognitions{
        margin-top: 150px ;
        margin-bottom: 50px;
        padding: 5px;
       font-size: 25px;
       width: 150px;
       margin-left: 340px;
   }
   .recognitions-content{
       margin-bottom: 140px;
       height: fit-content;
       margin-left: 200px;

   }
   .title-difference{
       margin-bottom: -200px;
   }

  
 
   

@media screen and (max-width:674px) {
    .name{
    margin-top: 20px;
    }
    .block-six{
        height: 900px;
    }
    
}
@media screen and (max-width:587px) {
    
    .content-difference{
        margin-top: -190px;
        
    }
    
    .title-difference{
        margin-bottom: -100px;
    }
   
}
@media screen and (max-width:540px) {
    .circle-right{
        margin-left: 420px;
        width: 100px;
        height: 100px;
        margin-top: -100px;
    }
}
@media screen and (max-width:500px) {
    .name{
        margin-top: 80px;
    }
    
    .block-four{
        height: 900px;
    }
    .button-header{
        margin-left: 100px;
    }
    .button-header{
        margin-left: 90px;
    }
    .info-title{
        margin-top: -650px;
        margin-left: 30px;
    }
    .content-one{
        margin-top: 450px;
        margin-bottom: 80px;
    }
    .image-dg{
     margin-bottom: 80px;
    }
    
    
}
@media screen and (max-width:451px) {
    .name{
        margin-top: 200px;
    }
    .block-four{
        height: 1000px;
    }
    .block-five{
        padding-left: 80px;
    }
}

@media screen and (max-width:432px) {
    .block-four{
        height: 1000px;
    }
    .block-five{
        padding-left: 80px;
    }
    .content-difference{
        margin-bottom: 350px;
    }
    .title-content-five{
        font-size: 25px;
    }
    .name{
        margin-left: 20px;
    }
    .title-difference{
        font-size: 25px;
    }
    .first-item{
        margin-left: 70px;
        margin-bottom: 25px;
    }
    .second-item{
        margin-left: 50px;
    }
    .info-title{
        font-size: 25px;
    }
    .recognitions-content{
        margin-left: 140px;
    }
    .recognitions {
        margin-top: 150px;
        margin-bottom: 40px;
        padding: 5px;
        font-size: 25px;
        width: 150px;
        margin-left: 290px;
    }
    }
}
@media screen and (max-width:414px) {
    .circle-right{
        margin-left: 295px;
        width: 100px;
        height: 100px;
        margin-top: -100px;}
        .under-five-one{
            margin-bottom: -30px;
        }
        .under-five-two{
            margin-bottom: 20px;
        }
        .under-five-four{
            margin-top: -30px;
        }
        .first-item{
            margin-left: 110px;
        }
    
}
@media screen and (max-width:411px) {
    .circle-right{
        margin-left: 290px;
        width: 100px;
        height: 100px;
        margin-top: -100px;
    }
}
@media screen and (max-width:384px) {
    .name{
        margin-left: 15px;
        margin-top: 350px;
    }
    .title-difference{
        white-space: nowrap;
        font-size: 25px;
    }
    
    .content-item-five{
        margin-left: -50px;
        max-width: 15em;
    }
    .name{
        margin-top: 400px;
    }
    .content-difference{
        margin-top: -270px;

    }
    .title-content-five{
        margin-left: -50px;
    }
    .header{
        padding-right: 80px;
    }
    .button-header{
        margin-left: 50px;
    }
    .info-title{
        margin-top: -750px;
        margin-left: 30px;
    }
    .content-one{
        margin-top: 550px;
        margin-bottom: 80px;
    }
    .image-dg{
     margin-bottom: 100px;
    }
    
    .title-content-five{
        font-size: 25px;

    }
    .first-item,.second-item{
        margin-left: 100px;
    }
    .award,.award-content{
        margin-left: 140px;
    }
    .award{
        margin-left: 100px;
    }
    .recognitions{
        margin-left: 230px;
    }
    .recognitions-content{
        margin-left: 110px;
    }
}
@media screen and (max-width:375px) {
    .first-item{
        margin-left: 120px;
        margin-bottom: 50px;
        margin-top: 350px;
    }
    .second-item{
        margin-left: 105px;
    }
    .third-item{
        margin-top: -980px;
    }
    .block-five{
        height: 1100px;
    }
    .circle-right{
        margin-left: 255px;
        
    }
    .under-five-one{
        margin-bottom: -30px;
    }
    .under-five-two{
        margin-bottom: -20px;
    }
    .under-five-four{
        margin-top: -30px;
    }
    .first-item{
        margin-left: 150px;
    }
}
@media screen and (max-width:360px) {
    .header{
        padding-right: 80px;
    }
    .button-header{
        margin-left: 50px;
    }
    .info-title{
        margin-top: -750px;
        margin-left: 30px;
    }
    .content-one{
        margin-top: 550px;
        margin-bottom: 80px;
    }
    .image-dg{
     margin-bottom: 100px;
    }
    .content-difference{
        margin-top: -600px;
    }
    .title-content-five{
        font-size: 25px;
        margin-top: 20px;
    }
    .first-item{
        margin-left: 120px;
    }
    .second-item{
        margin-left: 100px;
    }
    .award,.award-content{
        margin-left: 140px;
    }
    .award{
        margin-left: 100px;
    }
    .recognitions{
        margin-left: 230px;
    }
    .recognitions-content{
        margin-left: 110px;
    }
    .block-four{
        height: 1200px;
    }
    .circle-right{
        margin-left: 240px;
        width: 100px;
        height: 100px;
        margin-top: -100px;
    }
    .under-five-one{
        margin-bottom: -30px;
    }
    .under-five-two{
        margin-bottom: -20px;
    }
    .under-five-four{
        margin-top: -30px;
    }
   .second-item{
       margin-left: 70px;
   }
    
}
@media screen and (max-width:320px) {
    
    .button-header{
        margin-left: 30px;
    }
    .title-header{
        margin-left: 20px;
    }
   
    .content-difference{
        margin-top: -600px;
    }
    .block-four{
        height: 1300px;
        padding: 20px;
    }
    .title-difference{
        margin-left: 2px;
    }
    
    .first-item{
        margin-left: 120px;
        margin-bottom: 50px;
        margin-top: 350px;
    }
    .second-item{
        margin-left: 105px;
    }
    .third-item{
        margin-top: -1000px;
    }
    .block-five{
        height: 1150px;
    }
    .award-content,.recognitions-content{
        width: 280px
    }
    .recognitions{
        margin-left: 190px;
    }
    .circle-right{
        margin-left: 200px;
      
    }
    .under-five-one{
        margin-bottom: -30px;
    }
    .under-five-two{
        margin-bottom: -20px;
    }
    .under-five-four{
        margin-top: -30px;
    }
    .first-item{
        margin-left: 150px;
    }
}


@media screen and (max-width:280px) {
    .content-difference{
        margin-top: -350px;
    }
    .block-four{
        height: 1200px;
    }
    .name{
        margin-top: 700px;
    }
    .content-item-five{
        max-width: 15em;
    }
    .first-item{
        margin-top: 300px;
    }
    .shop-douala,.shop-yaounde,.shop-bamenda,.shop-garoua{
    white-space: nowrap;
    }
    .button-header{
        width: 200px;
    }
    .award-content,.recognitions-content{
        width: 200px;
    }
    .recognitions-content{
        margin-left: 220px;
    }
    .recognitions{
        margin-top: 75px;
        margin-left: 240px;
        margin-bottom: -10px;
    }
    .defil-item{
        width: 250px;
    }
    
    .right-image{
        margin-left: -220px;
        margin-top: -50px;
    }
    .title-header{
        font-size: 30px;
    }
    .title-difference{
        white-space: normal;
    }
    .circle-right{
        margin-left: 160px;
        
    }
    .see-more{
        margin-left: -10px;
    }
    .house{
        margin-left: 20px;
    }
    .title-about{
        margin-left: 50px;
    }
}


                /* code raphael end  */